
.vendor_performance {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vendor_performance li {
    float: left;
    padding: 15px;
    border:1px solid #bbb;
}

.vendor_performance li:last-child {
    border-right: none;
}

.vendor_performance li select {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.form-group-cancel{
    margin-bottom:30px;
    padding-bottom: 15px;
}
.form-group-space{
    margin-bottom:30px;
    padding-bottom: 15px;
}

#grand_total_price{
    z-index: 1;
}
.clear { 
    clear:both; margin-top:20px;
}
.clear_bottom { 
    clear:both; margin-bottom:30px;height:30px;
}
#booking_form .form-group label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}
.search_panel{
    border-radius:25px;
    background:#F5F5F5;
    margin-left:25%;
    margin-top:30px;
    width:650px;
}
.search_col{
    margin-right:-30px;
}
.partner_error{
    margin:10px 122px 10px -26px;
    font-size:90%;
    padding:8px 25px;
}
#booking_date{
    cursor:pointer;
}