
.vendor_performance {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vendor_performance li {
    float: left;
    padding: 15px;
    border:1px solid #bbb;
}

.vendor_performance li:last-child {
    border-right: none;
}

.vendor_performance li select {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}