.all-services,
.btn-book,
.button-book,
.card-list li,
.download-app,
.head-call,
.head-small,
.header-home,
.header-home-mobile,
.homepage-section-header,
.how-head h2,
.how-para,
.how-subhead h5 {
    text-align: center
}

.app-subhead h5,
.footer-links li a,
.formBox-service h4,
.head-call,
.head-small,
.how-subhead h5,
.service-card span h4,
.service-head h1,
.uc {
    text-transform: uppercase
}

.card-list,
.download-app ul,
.footer-links {
    list-style-type: none
}

body {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x:  hidden;
}

@media (min-width:768px) {
    nav {
        height: 70px
    }
}
@media (max-width:480px)
{
     .logos img
{
    max-width: 100px !important;
}
.logos.row
{
    width: 100% !important;
}
.partners h1
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
    font-size: 20px !important;
}
    .underline
    {
        height: 1px !important;
    }
}


.header-top {
    padding-top: 100px;
}

pre {
    background-color: #fff;
    border: 0 #fff;
    font-family: Tahoma;
    font-size: 15px
}

.all-services a,
.all-services span,
.btn-book,
.header-home h1 {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.header-home-mobile h1 {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.navbar-default .navbar-nav>li>.nav-style {
    padding: 24px 25px;
    font-weight: 400;
    letter-spacing: .8px
}

.head-call,
.head-small {
    letter-spacing: .045rem
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent
}
.bg_home
{
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.bg_home img
{
    height: 100%;
    max-width: 100%;
   min-width: 800px;
}
#atf-home {
   position: relative;
   background: url(../images/home-background.png) center no-repeat #a2a2a2;
   background-size:cover;
   width: 100%;
   max-height: 100%;
   display: block !important;
    }
.downloads
{
    position: relative;
    background: white;
}
.partners
{
    color: black;
    text-align: center;
}

.logos
{
   width: 100%;
   margin-top: 1%;
}
.logos img
{
    max-width: 150px;
}
.logos.row
{
    width: 100% !important;
}
.partners h1
{
    margin-top: 2%;
    margin-bottom: 1%;
    
    font-size: 40px;
    color: white;
}
.underline
{
    margin-top: 0px;
    width: 10%;
    text-align: center;
    color: white !important;
    height: 2px !important;
    background: white;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all .5s ease-in-out
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
    background-color: transparent
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    top: 6px;
    transform: rotate(45deg)
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg)
}

.atf-links {
    color: #fff!important
}

.atf-links:hover {
    color: #d55!important
}

.atf-links:active,
.atf-links:focus {
    color: #d55!important;
    background-color: transparent
}

@media (max-width:768px) {
    .atf-links,
    .atf-links:active {
        color: #777!important
    }
    .atf-links:focus {
        color: #d55!important
    }
    .header-top {
        padding-top: 30px
    }
    #atf-home {
   position: relative;
   background: url(../images/home-background.png) center no-repeat #a2a2a2;
   width: 100%;
   max-height: 100%;
   display: block !important;
    }
}

#bookingForm {
    margin-top: 30px
}

.head-small {
    padding-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 15px
}

@media (max-width:768px) {
    .head-small {
        padding: 0;
        margin-top: 17px;
        font-size: 15px
    }
    .header-home {
        margin-top: 30px
    }
    .header-home-mobile {
        margin-top: 10px
    }
	#atf-about-us,
    #atf-charges,
    #atf-air-conditioner-services,
    #atf-blogs-landing,
    #atf-contact-us,
    #atf-home,
    #atf-microwave-oven-services,
    #atf-refrigerator-services,
    #atf-television-services,
    #atf-thoughts,
    #atf-washing-machine-services {
        margin-top: 50px
    }
    .homepage-section-header h2 {
        font-weight: 700;
        font-size: 16px
    }
    .maintext p,
    .maintext ul li {
        font-size: 14px
    }
    .maintext h3 {
        font-size: 20px
    }
    .mobile-screen {
        height: 600px
    }
}

.head-call {
    padding-top: 10px;
    padding-bottom: 30px;
    cursor: default;
    font-weight: 400;
    font-size: 15px
}

.head-call>a,
.head-call>a:hover {
    color: #fff;
    text-decoration: none
}

.phone-style {
    padding-right: 5px
}

.light {
    line-height: 1.3
}

.header-home h1 {
    color: #fff;
    padding-top: 10px;
    font-weight: 300;
    padding-bottom: 10px
}

.header-home-mobile h1 {
    color: #fff;
    padding-top: 10px;
    font-weight: 100;
    padding-bottom: 10px
}

@media (min-width:768px) {
    .navbar-personalised {
        background-color: transparent!important;
        border: none!important
    }
}

.navbar-brand>img {
    max-width: 150px;
    margin-top: -12px
}

.formSection {
    margin: 0 5px 10px;
    background-color: rgba(10, 10, 10, .25);
    border-radius: 5px
}

@media (max-width:768px) {
    .navbar-brand>img {
        max-width: 100px
    }
    .formSection {
        padding: 15px
    }
    .btn-book {
        width: 100%
    }
}

.btn-book {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px!important;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background-color: #d55;
    border-color: #da4848;
    color: #fff;
    letter-spacing: .08rem
}

.btn-book:hover {
    background-color: #da4848;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
    color: #fff
}

.all-services a:hover,
.mobile-demo a:hover {
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear
}

.btn-book:active,
.btn-book:focus {
    outline: 0;
    color: #fff
}

.homepage-section-header {
    padding: 30px 0 50px
}

.homepage-section-header h2 {
    font-weight: 300;
    color: #777
}

.how-section-item {
    text-align: center
}

.how-section-item img {
    padding-bottom: 20px
}

.how-section-item h4 {
    padding-bottom: 15px
}

.how-section-item .how-description {
    color: white;
    padding-bottom: 30px
}

.app-section {
    border-bottom: 1px solid #d8d8d8
}

.download-app ul,
.download-app ul li {
    display: inline
}

.download-app ul li img {
    width: 150px;
    padding-bottom: 20px
}

.app-head {
    padding-top: 50px
}

@media (max-width:768px) {
    .app-head {
        padding-top: 20px
    }
}

.app-head h4 {
    padding-top: 15px;
    color: #777;
    text-decoration: underline;
    padding-bottom: 10px
}

.footer-links li a,
.mobile-demo a,
.page-link:hover,
.service-card span h4,
.youtube-link a,
a:hover {
    text-decoration: none
}

.mobile-demo img {
    width: 100%;
    padding-bottom: 1px
}

.mobile-demo a {
    color: #d55;
    border: 1px solid #da4848;
    border-radius: 3px;
    padding: 10px 20px
}

#services,
.why-247around {
    border-bottom: 1px solid #d8d8d8;
    color: white !important;
}
.why-247around .homepage-section-header h2
{
    color: white;
}
.why-description
{
    color: white;
}
.mobile-demo a:hover {
    background-color: #da4848;
    transition: background-color .3s linear;
    color: #fff
}

@media (min-width:996px) {
    .video-section {
        border-right: 1px solid #d8d8d8
    }
}

.app-subhead {
    padding-top: 10px
}

.app-description p {
    padding-top: 20px;
    padding-bottom: 10px
}

.all-services a,
.all-services span {
    padding: 12px 40px;
    font-size: 16px;
    letter-spacing: .5px;
    text-decoration: none
}

#services {
    background-color: #f9f9f9
}

.service-card {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin: 5px 0 15px;
    box-shadow: 0 2px 10px 2px rgba(52, 51, 51, .19)
}

.service-card span h4 {
    color: #404040;
    font-weight: 400;
    display: block;
    margin-bottom: 15px
}

.list-inline>li,
.social li,
.steps-card {
    display: inline-block
}

.service-card span h4:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 25%;
    height: 3px;
    background: #e96656;
    bottom: 25px;
    left: 36%
}

.all-services,
.card-list li:last-child {
    margin-bottom: 50px
}

.all-services a {
    color: #fff;
    background-color: #d55;
    border: 1px solid #d55;
    border-radius: 3px
}

.all-services a:hover {
    color: #fff;
    background-color: #da4848;
    transition: background-color .3s linear
}

.all-services span:hover,
.video-link:hover {
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear
}

.all-services span {
    cursor: pointer;
    color: #fff;
    background-color: #d55;
    border: 1px solid #d55;
    border-radius: 3px
}

.video-link,
.video-scrollLink {
    margin-top: 17px;
    padding: 6px 15px!important
}

.all-services span:hover {
    color: #fff;
    background-color: #da4848;
    transition: background-color .3s linear
}

.video-link:hover,
.video-scrollLink:hover {
    color: #fff!important;
    background-color: #d55!important
}

.video-link {
    border: 1px solid #fff;
    border-radius: 3px
}

.video-link:hover {
    border-color: #da4848;
    transition: background-color .3s linear
}

.video-scrollLink {
    border: 1px solid #777;
    border-radius: 3px
}

.video-scrollLink:hover {
    border-color: #da4848;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear
}

.downloads,
.how-section {
    border-bottom: 1px solid #d8d8d8
}

.selectWrapper:after {
    pointer-events: none;
    position: absolute;
    content: "\f078";
    font-family: FontAwesome;
    font-size: 15px;
    color: #777;
    height: 17px;
    top: 7px;
    bottom: 0;
    right: 0;
    margin-right: 0;
    margin-left: -22px
}

.steps-card h3,
.steps-card p,
.steps-list h4 {
    font-family: Roboto, sans-serif
}

select.formStyle {
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    box-shadow: none
}

.how-subhead h5 {
    color: #aab2bd;
    padding: 50px 0 0
}

.how-head h2 {
    font-weight: 300;
    color: #777
}

.how-para p {
    font-size: 18px;
    font-weight: 200;
    padding-top: 10px
}

.steps-list {
    position: relative;
    top: 20px
}

.steps-card {
    margin: 20px 0;
    text-align: left
}

.app-head,
.app-link,
.app-subhead,
.company-details,
.copyright,
.youtube-link {
    text-align: center
}

.steps-card img {
    width: 100%
}

@media (max-width:990px) {
    .steps-card img {
        width: 70%
    }
}

@media (max-width:768px) {
    .steps-card img {
        width: 100%
    }
}

.steps-card h3 {
    font-size: 21px;
    margin-bottom: 3px
}

.steps-list h4 {
    margin: 0;
    padding-bottom: 0
}

.steps-card p {
    font-size: 14px;
    color: #777;
    padding-top: 10px
}

.cta-how {
    padding-top: 40px
}

.app-head h3 {
    font-weight: 300
}

.app-subhead h5 {
    color: #777
}

.app-link a img {
    padding-top: 20px;
    width: 30%
}

.youtube-link {
    padding-top: 30px
}

.youtube-link a {
    color: #d55;
    font-size: 16px;
    border: 1px solid #d55;
    border-radius: 3px;
    padding: 12px 34px
}

.youtube-link a:hover {
    color: #fff;
    background-color: #da4848;
    -webkit-transition: background-color linear .3s;
    -moz-transition: background-color linear .3s;
    transition: background-color linear .3s
}

.how-section {
    background: -webkit-gradient(linear, 0 0, 31% 100%, from(#fff), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #fff 65%, #d8d8d8);
    background: -moz-linear-gradient(top, #fff 80%, #f5f5f5);
    background: -ms-linear-gradient(top, #fff 80%, #f5f5f5);
    background: -o-linear-gradient(top, #fff 80%, #f5f5f5);
    background: linear-gradient(top, #fff 80%, #f5f5f5)
}

#footer {
    background: #696969
}

.company-details {
    color: #939393;
    padding-top: 67px;
    padding-bottom: 67px
}

@media (max-width:990px) {
    .youtube-link {
        margin-bottom: 30px
    }
    .company-details {
        padding-top: 10px;
        padding-bottom: 15px
    }
}

.company-details .icon-top {
    font-size: 30px;
    margin-bottom: 10px
}

.red-text {
    color: #e96656
}

.copyright {
    padding-top: 68px;
    padding-bottom: 68px;
    background: #171717
}

@media (max-width:768px) {
    .copyright {
        padding-top: 25px;
        padding-bottom: 30px
    }
}

.social {
    margin: 0!important
}

.social li {
    margin: 5px
}

.social li a {
    color: #939393;
    font-size: 18px
}

.around-copyright-box p {
    color: #777
}

.footer-links li a:hover,
footer a {
    color: #fff
}

.footer-links li {
    margin-left: -30px
}

.footer-links li a {
    color: #fff
}

footer {
    background-color: #696969;
    z-index: 15;
    position: relative;
    /*text-align: center !important;*/
}
foooter .contianer
{
    margin: auto 0 !important;
}

.leader-pd-lg,
.vspacing-pd-lg {
    padding-top: 30px!important
}

.leader-mg-sm,
.vspacing-mg-sm {
    margin-top: 15px!important
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

@media (max-width:990px) {
    .list-unstyled {
        margin-left: -10px
    }
}

footer .footer-nav ul li {
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px
}

footer a {
    font-weight: 400
}

a:hover {
    color: #000
}

footer .fine-print {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.quietText {
    font-size: 14px;
    padding-top: 15px;
    color: #fff;
    line-height: 19px
}

footer .fine-print a {
    text-decoration: underline;
    color: inherit
}

.trailer-pd-sm,
.upstart-profile-review .main-info,
.vspacing-pd-sm {
    padding-bottom: 15px!important
}

.list-inline>li {
    padding-left: 5px;
    padding-right: 5px
}

.social-icon i {
    margin: 0 .15em;
    font-size: 18px;
    color: #fff
}

.quietText a:hover,
.social-icon i:hover {
    color: #000
}

.quietText a {
    text-decoration: none!important;
    font-size: 14px!important
}

#atf-about-us{
	position: relative;
    background: url(../images/about-us-team.png) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%	
}
#atf-charges {
    position: relative;
    background: url(../images/charges.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-air-conditioner-services {
    position: relative;
    background: url(../images/Air-Conditioner-Repair.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-contact-us {
    position: relative;
    background: url(../images/contact-us.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-refrigerator-services {
    position: relative;
    background: url(../images/refrigerator-repair-main.jpg) center no-repeat #a2a2a2;
   background-size: cover;
    width: 100%
}

#atf-television-services {
    position: relative;
    background: url(../images/tv-repair-main.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-microwave-oven-services {
    position: relative;
    background: url(../images/microwave-repair-main.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-washing-machine-services {
    position: relative;
    background: url(../images/washing-machine-main_1200*450.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%
}

#atf-thoughts {
    position: relative;
    background: url(../images/thoughts_ideas.jpg) center no-repeat #a2a2a2;
    background-size: cover;
	padding-bottom:10px;
    width: 100%
}
#atf-terms-services{
	position: relative;
    background: url(../images/terms-of-services.jpg) center no-repeat #a2a2a2;
    background-size: cover;
    width: 100%	
}
#atf-blogs-landing {
    position: relative;
    background: url(../images/home-background.png) center no-repeat #a2a2a2;
   background-size: cover;
    width: 100%
}

.service-head {
    text-align: left;
    padding-left: 150px
}

.comment-card,
.comment-section {
    text-align: center
}

.service-head h1 {
    color: #fff;
    padding-top: 150px;
    padding-bottom: 10px
}

.service-head h4 {
    color: #fff;
    letter-spacing: .8px;
    padding-bottom: 50px
}

.comment-card p,
.service-detail {
    color: #777
}

.formBox-service {
    margin: 0 5px 10px;
    background-color: rgba(10, 10, 10, .25);
    border-radius: 5px
}

.formBox-service h4 {
    color: #777;
    padding-bottom: 25px
}

@media (max-width:992px) {
    .formBox-service h4,
    .service-head {
        text-align: center
    }
    .service-head {
        padding-left: 0
    }
    .service-head h1 {
        padding-top: 90px
    }
    .formBox-service {
        margin-top: 0
    }
}

.btn-service {
    width: 100%
}

.particular-service {
    border-bottom: 1px solid #d8d8d8
}

.service-descLast {
    padding-bottom: 30px
}

.comment-card {
    margin: 0 auto 30px;
    width: 70%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 10px;
    box-shadow: 5px 5px 5px #777
}

.testimonial {
    background-color: #f9f9f9
}

.customer-image {
    width: 100%;
    padding-bottom: 20px
}

.service-image {
    width: 90%
}

@media (max-width:768px) {
    .comment-card {
        margin-bottom: 20px
    }
    .particular-service {
/*        text-align: center*/
    }
    .service-image {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 50px
    }
}

.filterable {
    margin-top: 15px
}

.filterable .panel-heading .pull-right {
    margin-top: -20px
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333
}

.counter_report{
        width: 100%;
        min-height: 250px;
        background-color: #f4f4f4;
        text-align: center;
        padding-top: 25px;
}
.counterdiv{
    display: inline-block;
    color: #949494;
}
.counternumber{
    font-size: 50px;
    font-weight: 300;
}
.countername{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
