.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/nbproject/private/

application/config/database.php
application/config/email.php
application/config/config.php
index.php
/application/nbproject/private/

application/js/base_url.js
ppp
